<div>
  <div>
    <%= @presenter.empty_collection_message %>
  </div>

  <div>
    <% @presenter.names.each do |name| %>
      <div>
        <%= name %>
      </div>
    <% end %>
  </div>
  <div><%= link_to 'Neuer Kurs', @presenter.new_course_link %></div>
</div>
